In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

headers ={
    "User-Agent" : "Mozilla/5.0; (Windows NT 10.0; win64; x64)"
}

page = requests.get(url,headers=headers)
print(page.status_code)

200

In [3]:
soup = BeautifulSoup(page.text, 'html.parser')
tables = soup.find_all('table')

print(len(tables))

3

In [4]:
for i, table in enumerate(tables):
    print(f"\n--- Table {i} ---")
    print(table.get_text()[:200])

--- Table 0 ---




Rank

Name

Industry

Revenue (USD millions)

Revenue growth

Employees

Headquarters


1

Walmart

Retail

680,985

  5.1%

2,100,000

Bentonville, Arkansas


2

Amazon

Retail and cloud computin

--- Table 1 ---


Rank

Name

Industry

Revenue (USD billions)

Employees

Headquarters


1

Cargill

Food industry

177

160,000

Minnetonka, Minnesota


2

Koch Industries

Conglomerate

125

120,000

Wichita, Kans

--- Table 2 ---




Rank

Name

Industry

Profits(USD millions)


1

Alphabet

Technology

100,118


2

Apple

Electronics

93,736


3

Berkshire Hathaway

Conglomerate

88,995


4

Microsoft

Technology

88,136


5

In [5]:
table = soup.find_all('table')[0]

titles = table.find_all('th')
titile_row = [title.text.strip() for title in titles]
print(titile_row)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [6]:
df = pd.DataFrame(columns=titile_row)

In [10]:
rows = table.find_all('tr')
for row in rows[1:]:
    data_row = row.find_all('td')
    individual_data_row = [data.text.strip() for data in data_row]
    # print(individual_data_row)
    length = len(df)
    df.loc[length] = individual_data_row

In [11]:
df.to_csv(r'US_largest_companies.csv', index=False)