In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [4]:
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)'

headers = {
    "User-Agent" : "Mozilla/5.0; (Windows NT 10.0; win64; x64)"
}

page = requests.get(url, headers = headers)
print(page.status_code)

200

In [6]:
soup = BeautifulSoup(page.text, 'html.parser')
tables = soup.find_all('table')
print(len(tables))

7

In [8]:
for i, table in enumerate(tables):
    print(f"\n--- Table {i} ---")
    print(table.get_text()[:300])

--- Table 0 ---





Largest economies in the world by GDP (nominal) in 2025according to International Monetary Fund projections[n 1][1]


--- Table 1 ---
     > $20 trillion   $10–20 trillion   $5–10 trillion   $1–5 trillion   $750 billion – $1 trillion   $500–750 billion     $250–500 billion   $100–250 billion   $50–100 billion   $25–50 billion   $5–25 billion   < $5 billion

--- Table 2 ---

GDP forecast or estimate (million US$) by country


Country/Territory

IMF(2025)[6]

World Bank(2024)[7]

United Nations(2023)[8]


 World
117,165,394
111,326,370
100,834,796


 United States
30,615,743
29,184,890
27,720,700


 China[n 1]
19,398,577
18,743,803
17,794,782


 Germany
5,013,574
4,659,

--- Table 3 ---
vteLists of countries by financial rankingsTrade
Account balance
Exports
by product and services
merchandise
per capita
Imports
Balance of trade
service exports and imports
Trade-to-GDP ratio
Tariff rate
Leading trade partners
Investment
FDI received
FDI abroad
Funds
Forex reserves
Gold reserves
Sov

--- Table 4 ---
vteLists of countries by GDP rankingsNominal
GDP (nominal)
Past and projected
Sector composition
Purchasing power parity (PPP)
GDP (PPP)
Past
Past and projected
Ten largest historically
Per capita
nominal GDP
Past and projected
GDP (PPP)
by region
past and projected
Per person employed
Household fin

--- Table 5 ---
vteEconomic classification of countries
Developed country
Developing country
Heavily indebted poor countries
Least developed countries
Newly industrialized country
World Bank high-income economy
Three/Four-World Model
First World
Second World
Third World
Fourth World
Gross domestic product (GDP)Nomi

--- Table 6 ---
Nominal
By country
past and projected
per capita
per capita
Purchasing  power parity (PPP)
By country
future estimates
per capita
per capita
per person employed

In [9]:
table = soup.find_all('table')[2]
print(table.get_text())

GDP forecast or estimate (million US$) by country


Country/Territory

IMF(2025)[6]

World Bank(2024)[7]

United Nations(2023)[8]


 World
117,165,394
111,326,370
100,834,796


 United States
30,615,743
29,184,890
27,720,700


 China[n 1]
19,398,577
18,743,803
17,794,782


 Germany
5,013,574
4,659,929
4,525,704


 Japan
4,279,828
4,026,211
4,204,495


 India
4,125,213
3,912,686
3,575,778


 United Kingdom
3,958,780
3,643,834
3,380,855


 France
3,361,557
3,162,079
3,051,832


 Italy
2,543,677
2,372,775
2,300,941


 Russia
2,540,656
2,173,836
2,008,419


 Canada
2,283,599
2,241,253
2,142,471


 Brazil
2,256,910
2,179,412
2,191,132


 Spain
1,891,371
1,722,746
1,620,091


 Mexico
1,862,740
1,852,723
1,793,799


 South Korea
1,858,572
1,712,793
1,839,058


 Australia
1,829,508
1,752,193
1,775,628


 Turkey
1,565,471
1,323,255
1,118,253


 Indonesia
1,443,256
1,396,300
1,371,171


 Netherlands
1,320,635
1,227,544
1,154,361


 Saudi Arabia
1,268,535
1,237,530
1,067,583


 Poland
1,039,619
914,696
809,201


 Switzerland
1,002,666
936,564
894,425


 Taiwan[n 3]
884,387
—
—


 Belgium
716,980
664,564
644,783


 Ireland
708,771
577,389
551,395


 Argentina
683,371
633,267
646,075


 Sweden
662,318
610,118
584,960


 Israel
610,752
540,380
513,611


 Singapore
574,185
547,387
501,428


 United Arab Emirates
569,097
537,079
514,130


 Austria
566,456
521,642
511,685


 Thailand
558,573
526,411
514,945


 Norway
517,102
483,727
485,311


 Philippines
494,158
461,618
437,146


 Vietnam
484,726
476,388
429,717


 Bangladesh
475,011
450,119
422,431


 Malaysia
470,572
421,972
399,649


 Denmark
459,612
429,457
407,092


 Colombia
438,121
418,542
363,540


 Hong Kong[n 4]
428,233
407,107
380,812


 South Africa
426,383
400,261
377,782


 Romania
422,508
382,768
350,776


 Pakistan
410,495
373,072
337,900


 Czech Republic
383,384
345,037
343,208


 Iran
356,513
436,906
401,596


 Egypt
349,264
389,050
331,590


 Chile
347,174
330,267
335,533


 Portugal
337,936
308,683
289,114


 Peru
318,480
289,222
267,603


 Finland
314,724
299,836
295,532


 Kazakhstan
300,052
288,406
264,293


 Algeria
288,013
263,620
247,626


 Nigeria
285,003
188,271
187,760


 Greece
282,019
257,145
243,498


 Iraq
265,455
279,641
232,107


 New Zealand
262,909
260,236
252,176


 Hungary
247,759
217,905
212,657


 Qatar
222,119
222,905
213,003


 Ukraine[n 5]
209,713
190,741
178,757


 Cuba
—
—
201,986


 Morocco
179,612
154,431
144,438


 Kuwait
157,469
160,227
163,705


 Slovakia
154,587
141,776
132,908


 Uzbekistan
137,480
114,965
90,889


 Kenya
136,014
124,499
108,039


 Ecuador
130,529
124,676
118,845


 Dominican Republic
129,748
124,282
121,444


 Bulgaria
127,924
112,212
102,397


 Puerto Rico
126,546
125,842
117,902


 Guatemala
120,850
113,200
104,451


 Angola
115,167
80,397
90,552


 Ghana
111,963
82,825
76,370


 Ethiopia
109,492
163,698
159,746


 Oman
105,190
106,943
105,896


 Croatia
103,901
92,526
84,391


 Costa Rica
102,637
95,350
86,498


 Luxembourg
100,642
93,197
85,755


 Serbia
100,048
89,084
75,187


 Ivory Coast
99,207
86,538
78,789


 Sri Lanka
98,964 (2024)
98,963
84,364


 Lithuania
95,274
84,869
79,790


 Panama
90,408
86,260
83,382


 Tanzania[n 6]
87,444
78,780
78,353


 Belarus
85,739
75,962
71,857


 Uruguay
84,986
80,962
77,236


 Venezuela
82,767
—
139,395


 DR Congo
82,262
70,749
69,338


 Slovenia
79,221
72,485
69,148


 Azerbaijan
76,390
74,316
72,356


 Turkmenistan
72,119
64,240
59,887


 Uganda
64,993
53,652
51,023


 Cameroon
60,577
51,327
49,279


 Myanmar
60,561
74,080
62,084


 Tunisia
59,069
53,410
48,541


 Bolivia
57,086
49,668
45,135


 Jordan
56,157
53,352
50,814


 Zimbabwe
53,310
44,188
30,368


 Macau[n 7]
52,379
50,183
45,803


 Cambodia
48,802
46,353
42,824


 Libya
47,941
46,636
44,030


 Latvia
47,880
43,521
42,248


 Paraguay
47,398
44,458
42,955


 Bahrain
47,391
47,737
44,662


 Estonia
46,763
42,765
41,291


 Nepal
45,513
42,914
40,484


 Cyprus[n 8]
39,943
36,333
33,887


 Honduras
39,445
37,094
34,401


 Iceland
38,386
33,463
31,325


 Georgia[n 9]
37,403
33,776
30,536


 Senegal
36,839
32,267
30,408


 El Salvador
36,587
35,365
34,016


 Sudan
35,897
49,910
34,021


 Bosnia and Herzegovina
33,237
28,343
27,515


 Papua New Guinea
32,714
32,538
31,020


 Haiti
30,908
25,224
19,841


 Albania
29,939
27,178
22,978


 Zambia
29,369
26,326
27,578


 Lebanon
28,280 (2024)
20,079
27,464


 Armenia
27,859
25,787
24,219


 Malta
27,745
24,322
22,212


 Guinea
27,515
25,334
23,006


 Burkina Faso
26,866
23,250
20,325


 Trinidad and Tobago
26,002
26,429
25,489


 Mali
25,591
26,588
20,662


 Mongolia
25,105
23,586
19,872


 Guyana
25,064
24,836
16,683


 Mozambique
24,726
22,417
20,954


 Benin
24,402
21,483
19,673


 Jamaica
23,137
19,930
19,423


 Niger
22,969
19,538
16,819


 Chad
21,592
20,626
17,643


 Gabon
21,455
20,867
20,056


 Nicaragua
20,689
19,694
17,829


 Kyrgyzstan
20,160
17,478
13,988


 Syria
—
19,993
29,028


 Moldova[n 10]
19,620
18,200
16,542


 Madagascar
19,377
17,421
15,870


 Botswana
19,186
19,401
19,396


 North Macedonia
18,783
16,685
15,764


 Afghanistan
18,080 (2024)
17,152
16,417


 Tajikistan
17,032
14,205
12,061


 Laos
16,934
16,503
15,008


 North Korea
—
—
16,447


 Bahamas
16,393
15,833
14,338


 Mauritius
15,730
14,953
14,397


 Congo
15,695
15,720
14,167


 Brunei
15,565
15,463
15,128


 Malawi
14,975
11,009
12,627


 Rwanda
14,771
14,252
14,097


 Namibia
14,686
13,372
12,351


 Palestine[n 11][n 12]
13,711 (2024)
13,711
17,396


 Equatorial Guinea
13,467
12,766
12,117


 Somalia
12,944
12,109
10,969


 Kosovo
12,672
11,149
10,467


 Channel Islands
—
12,508
—


 Mauritania
11,953
10,767
10,652


 Togo
10,951
9,926
9,278


 Monaco
—
9,995
9,995


 New Caledonia
—
9,623
10,140


 Liechtenstein
9,424
8,288
7,965


 Montenegro
9,353
8,070
7,530


 Bermuda
—
8,980
8,142


 Yemen
—
—
8,758


 Sierra Leone
8,639
7,548
6,412


 Maldives
7,676
6,975
6,591


 Barbados
7,559
7,165
6,721


 Isle of Man
—
7,431
—


 Cayman Islands
—
7,139
7,127


 Burundi
7,025
2,162
3,960


 Guam
—
6,910
—


 French Polynesia
—
6,402
6,398


 Fiji
6,336
5,841
5,442


 Eswatini
5,201
4,892
4,574


 Liberia
5,182
4,750
5,039


 South Sudan
4,979
—
4,629


 U.S. Virgin Islands
—
4,672
—


 Djibouti
4,613
4,086
4,000


 Suriname
4,496
4,714
3,759


 Andorra
4,408
4,040
3,785


 Aruba
4,319
3,649
3,649


 Faroe Islands
—
3,907
—


 Bhutan
3,408
3,019
3,019


 Greenland
—
3,327
3,041


 Central African Republic
3,300
2,752
2,555


 Belize
3,297
3,516
3,079


 Curaçao
—
3,281
3,281


 Cape Verde
2,915
2,768
2,591


 Saint Lucia
2,659
2,549
2,430


 Gambia
2,497
2,508
2,401


 Zanzibar
—
—
2,483


 Guinea-Bissau
2,474
2,120
1,841


 Lesotho
2,390
2,272
2,118


 Antigua and Barbuda
2,340
2,225
2,033


 Eritrea
—
—
2,275


 San Marino
2,241
1,832
1,987


 Seychelles
2,230
2,167
2,141


 Timor-Leste
2,125
1,881
2,080


 Solomon Islands
1,904
1,761
1,633


 Turks and Caicos Islands
—
1,745
1,402


 Sint Maarten
—
1,735
1,677


 Comoros
1,613
1,546
1,448


 British Virgin Islands
—
—
1,506


 Grenada
1,458
1,391
1,317


 Samoa
1,248
1,068
1,032


 Saint Vincent and the Grenadines
1,238
1,157
1,091


 Saint Kitts and Nevis
1,141
1,067
1,058


 Vanuatu
1,119
1,161
1,119


 Northern Mariana Islands
—
1,096
—


 São Tomé and Príncipe
976
764
684


 American Samoa
—
871
—


 Dominica
748
689
651


 Saint Martin
—
649
—


 Tonga
587
509
508


 Micronesia
495
471
460


 Anguilla
—
—
416


 Cook Islands
—
—
366


 Palau
341
282
282


 Kiribati
321
308
289


 Marshall Islands
302
280
270


 Nauru
172
160
176


 Montserrat
—
—
80


 Tuvalu
58
62
68

In [11]:
titles = table.find_all('th')
titles_row = [title.text.strip() for title in titles]
print(titles_row)

['Country/Territory', 'IMF(2025)[6]', 'World Bank(2024)[7]', 'United Nations(2023)[8]']

In [12]:
df = pd.DataFrame(columns = titles_row)

In [17]:
rows = table.find_all('tr')
for row in rows[1:]:
    data_row = row.find_all('td')
    individual_data_row = [data.text.strip() for data in data_row]
    # print(individual_data_row)
    length = len(df)
    df.loc[length] = individual_data_row

In [18]:
df.to_csv(r'list_countries_by_GDP.csv', index = False)